@using Ihc.CrackSports.Core.Authorization.Claims;
@using Ihc.CrackSports.Core.Extensions;
@using Ihc.CrackSports.WebApp.Models.Usuarios;
@model MinhaContaViewModel


@{
    Layout = "_LayoutOrange";
}

<div class=" mt-5">
    <h4 class="mt-5">Perfil do aluno</h4>
    <hr />

    <div class="row g-width-10 layout-orange-full text-white-light mt-5" style="border-radius: 10%;
      justify-content: start; display: contents;">

        <div id="pnlDadosAluno" style="padding: 10px;    display: table;">

            <div class="row">


                <div class="text-center">
                    @*  @{
                    var imagem = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.DadosAluno.GetBytesFotoAluno()));
                    } *@
                    <img class="mt-4" src="~/imgs/aluno1.jpeg" style="width: 150px;  height: 150px;  border-radius: 90px; box-shadow: 0px 0px 1px 1px #00000055;" alt="imagem aluno" />
                    <h5 class="text-center mt-2">
                        @Model.DadosAluno.Nome <a href="#" onclick="redirectDadosGerais(@Model.DadosAluno.Id)" style="padding: 5px; position: absolute; display: inline-grid; margin-left: 10px; margin-top: -2px;" class="layout-orange-full-btn"> <img src="~/imgs/btEditar.png" style="width: 15px; height: 15px;" /></a>
                    </h5>

                </div>



                <h5 class="text-center mt-5">Dados gerais</h5>
                <div class="d-inline-flex mt-2 card-dados-aluno">
                    <div class="d-inline-flex ms-5 card-content-dados-aluno">
                        <div class="row g-width-10">
                            <a><b>Nome completo:</b> &nbsp; @Model.DadosAluno.Nome</a>
                            <a><b>Documento:</b> &nbsp; @Model.DadosAluno.Documento</a>
                            <a><b>CPF:</b> &nbsp; @Model.DadosAluno.CpfCnpj.FormataCPF()</a>
                            <a><b>Camiseta:</b> &nbsp; @Model.DadosAluno.CamisetaNumero</a>
                            <a><b>Club:</b> &nbsp; @(Model.DadosAluno.IdClub > 0 ? "" : "N/a")</a>
                            <a><b>Data de nascimento:</b> &nbsp; @Model.DadosAluno.DataNascimento.ToString("dd/MM/yyyy")</a>
                            <a><b>Idade:</b> &nbsp; @(DateTime.Now.Year - Model.DadosAluno.DataNascimento.Year) Anos</a>
                        </div>
                    </div>
                    <a href="#" class="layout-orange-full-btn" onclick="redirectDadosGerais(@Model.DadosAluno.Id)" style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                </div>

                <h5 class="text-center mt-5">Dados do responsável</h5>
                <div class="d-inline-flex  mt-5 card-dados-aluno">
                    <div class="d-inline-flex ms-5 card-content-dados-aluno">
                        <div class="row g-width-10 ms-1">
                            <a><b>Nome responsável:</b> &nbsp; @Model.DadosAluno.GetResponsavel().Nome</a>
                            <a><b>Documento:</b> &nbsp; @Model.DadosAluno.GetResponsavel().Documento</a>
                            <a><b>CPF:</b> &nbsp; @Model.DadosAluno.GetResponsavel().CpfCnpj.FormataCPF()</a>
                            <a><b>Grau de parentesco:</b> &nbsp; @Model.DadosAluno.GetResponsavel().GrauParentesco</a>
                            <a><b>Telefone:</b> &nbsp; @Model.DadosAluno.GetResponsavel().Telefone</a>
                            <a><b>Celular:</b> &nbsp; @Model.DadosAluno.GetResponsavel().Celular</a>
                        </div>
                    </div>
                    <a href="#" style="height: 50px; width: 50px; padding: 10px;" class="layout-orange-full-btn"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                </div>

                <h5 class="text-center mt-5">Endereço</h5>
                <div class="d-inline-flex mt-5 card-dados-aluno">
                    <div class="d-inline-flex ms-5 card-content-dados-aluno">
                        <div class="row g-width-10">
                            <a><b>Logradouro (Endereço):</b> &nbsp; @Model.DadosAluno.Endereco.Logradouro</a>
                            <a><b>Numero:</b> &nbsp; @Model.DadosAluno.Endereco.Numero</a>
                            <a><b>Cidade:</b> &nbsp; @Model.DadosAluno.Endereco.Cidade</a>
                            <a><b>UF:</b> &nbsp; @Model.DadosAluno.Endereco.UF</a>
                            <a><b>CEP:</b> &nbsp; @Model.DadosAluno.Endereco.CEP</a>
                            <a><b>Complemento</b> &nbsp; @Model.DadosAluno.Endereco.Complemento</a>
                        </div>
                    </div>
                    <a href="#" style="height: 50px; width: 50px; padding: 10px;" class="layout-orange-full-btn"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                </div>
            </div>
        </div>

        @if (User.CanAccess(Roles.ALUNO))
        {
            <div style="text-align-last: center;">
                <button id="btnLogar" type="button" class="btn  btn-block btn-confirm-radius mb-5 mt-5 g-width-3">Imprimir</button>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/Aluno/aluno.js" type="text/javascript" asp-append-version="true"></script>
}