@using Ihc.CrackSports.Core.Objetos.Competicoes;
@using Newtonsoft.Json;
@model Evento

@{
    Layout = "_Layout";
}

<div class="container-fluid mt-5">


    <h3 class="text-semi-bold-orange mt-5 ms-5">Lançamento de placar</h3>
    <hr />

    <input id="inputEvento" type="hidden" value="@JsonConvert.SerializeObject(Model)" />

    <!--Placar GERAL-->
    <div class="d-inline-flex mb-3 justify-content-center g-width-10 mt-5" style="align-items: center;">

        <span class="text-time-1" style="min-width: 130px; max-width: 130px; text-align-last: end;"><b>@Model.Clube1.Nome</b></span>

        <div class="ms-2 d-inline-flex" style="align-items: center;">
            @if (Model.Clube1.HasImagem())
            {
                var imagem = String.Format("data:image/png;base64,{0}", Model.Clube1.ImagemBase64);
                <img src="@imagem" style="width: 60px;  height: 60px;  border-radius: 50px;" alt="imagem aluno" />
            }
            else
            {
                <img src="~/imgs/sem_imagem.png" style="width: 60px;  height: 60px;  border-radius: 50px;" alt="imagem aluno" />
            }

            <span id="lblGolsClube1" style="font-weight: bold;" class="mx-2">@Model.AtletasEventoClube1.Sum(x => x.GolsMarcados)</span>
            <span style="color: #FA8C05 ; font-weight: bold;" class="mx-2">X</span>
            <span id="lblGolsClube2" style="font-weight: bold;" class="mx-2">@Model.AtletasEventoClube2.Sum(x => x.GolsMarcados)</span>

            @if (Model.Clube2.HasImagem())
            {
                var imagem = String.Format("data:image/png;base64,{0}", Model.Clube2.ImagemBase64);
                <img src="@imagem" style="width: 60px;  height: 60px;  border-radius: 50px;" alt="imagem aluno" />
            }
            else
            {
                <img src="~/imgs/sem_imagem.png" style="width: 60px;  height: 60px;  border-radius: 50px;" alt="imagem aluno" />
            }
        </div>

        <span class="text-time-2 ms-2" style="min-width: 130px; max-width: 130px;"><b>@Model.Clube2.Nome</b></span>
    </div>
    <!--FIM Placar GERAL -->

    <div class="mb-1 d-flex" style="justify-content:space-between;">

        <!--Clube 1-->
        <div class="col-lg-5 pnl-time-1">

            <!--Panel Inclusão de Gols-->
            <div class="form-resultado d-flex">

                <div class="form-outline ag-field-content col-lg-3">

                    <select id="cmbJogadorTime1" class="form-select ag-field-input ag-input-color-light-full">
                        <option selected="">Selecionar</option>
                        @foreach (var atleta in Model.Clube1.AtletasClube)
                        {
                            <option value="@JsonConvert.SerializeObject(atleta)">@atleta.Nome.ToUpper()</option>
                        }
                    </select>
                    <label class="form-label text-semi-bold-light ag-field-label" for="cmbJogadorTime1">Jogador*</label>
                </div>

                <div class="form-outline  ag-field-content col-lg-2 ms-3">
                    <input type="text" id="txtQtdGolsTime1" class="form-control ag-field-input ag-input-color-light-full " data-mask="0000" autocomplete="off" required maxlength="14">
                    <label id="txtQtdGolsTime2Label" class="form-label text-semi-bold-light ag-field-label" for="txtQtdGolsTime1">Nº de gols*</label>
                </div>


                <div class="col-lg-1 ms-3 mt-5">
                    <a class="btn  btn-block btn-confirm-radius-escuro" onclick="onAdicionarGol(this, 1)">Adicionar</a>
                </div>
            </div>

            <!--Panel Listagem de Gols-->
            <table class="table table-time-1 mt-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Gols</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var atletas in Model.AtletasEventoClube1)
                    {
                        <tr>
                            <td style="width:100px;">
                                @if (atletas.DadosAtleta.HasImage())
                                {
                                    <img class="img-icon-nav ms-2" src="data:image/png;base64, @atletas.DadosAtleta.FotoAlunoBase64">
                                }
                                else
                                {
                                    <img class="img-icon-nav ms-2" src="">
                                }
                            </td>
                            <td>
                                <span class="">@atletas.DadosAtleta.Nome.ToUpper()</span>
                            </td>
                            <td>
                                <span class="">@atletas.GolsMarcados</span>
                            </td>
                            <td class="d-inline-flex">
                                <div class=" tooltip-arrow" data-toggle="tooltip" data-placement="right" title="" style="height: 40px; width: 40px; margin-right: 10px;" data-bs-original-title="Remover Gol(s)">
                                    <a class="layout-orange-full-btn" onclick="onClickRemoverGol(@atletas.IdLancamento)" style="height: 50px; width: 50px; padding: 10px; cursor: pointer;">
                                        <img src="/imgs/excluir.png" style="width: 30px; height: 30px;">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--FIM Clube 1-->

        <!--Clube 2-->
        <div class="col-lg-5 pnl-time-2">

            <!--Panel Inclusão de Gols-->
            <div class="form-resultado d-flex">

                <div class="form-outline ag-field-content col-lg-3">

                    <select id="cmbJogadorTime2" class="form-select ag-field-input ag-input-color-light-full">
                        <option selected="">Selecionar</option>
                        @foreach (var atleta in Model.Clube2.AtletasClube)
                        {
                            <option value="@JsonConvert.SerializeObject(atleta)">@atleta.Nome.ToUpper()</option>
                        }
                    </select>
                    <label class="form-label text-semi-bold-light ag-field-label" for="cmbJogadorTime2">Jogador*</label>
                </div>

                <div class="form-outline  ag-field-content col-lg-2 ms-3">
                    <input type="text" id="txtQtdGolsTime2" class="form-control ag-field-input ag-input-color-light-full valida-campos-obrigatorios" data-mask="0000" minlenght="1" autocomplete="off" required="" maxlength="14">
                    <label id="txtQtdGolsTime2Label" class="form-label text-semi-bold-light ag-field-label" for="txtQtdGolsTime2">Nº de gols*</label>
                </div>


                <div class="col-lg-1 ms-3 mt-5">
                    <a class="btn  btn-block btn-confirm-radius-escuro" onclick="onAdicionarGol(this, 2)">Adicionar</a>
                </div>
            </div>

            <!--Panel Listagem de Gols-->
            <table class="table table-time-2 mt-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Gols</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var atletas in Model.AtletasEventoClube2)
                    {
                        <tr>
                            <td style="width:100px;">
                                @if (atletas.DadosAtleta.HasImage())
                                {
                                    <img class="img-icon-nav ms-2" src="data:image/png;base64, @atletas.DadosAtleta.FotoAlunoBase64">
                                }
                                else
                                {
                                    <img class="img-icon-nav ms-2" src="">
                                }
                            </td>
                            <td>
                                <span class="">@atletas.DadosAtleta.Nome.ToUpper()</span>
                            </td>
                            <td>
                                <span class="">@atletas.GolsMarcados</span>
                            </td>
                            <td class="d-inline-flex">
                                <div class=" tooltip-arrow" data-toggle="tooltip" data-placement="right" title="" style="height: 40px; width: 40px; margin-right: 10px;" data-bs-original-title="Remover Gol(s)">
                                    <a class="layout-orange-full-btn" onclick="onClickRemoverGol(@atletas.IdLancamento)" style="height: 50px; width: 50px; padding: 10px; cursor: pointer;">
                                        <img src="/imgs/excluir.png" style="width: 30px; height: 30px;">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!--FIM Clube 2-->
    </div>
</div>


@section Scripts{
    <script src="~/js/Evento/lancarResultado.js"></script>
}