@using Ihc.CrackSports.WebApp.Models.Alunos;
@using Newtonsoft.Json;
@model PaginacaoAlunoViewModel



<div class="modal fade" id="modalConfirmaExclusao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmaExclusaoLabel" aria-hidden="true" style="align-content: center;">
    <div class="modal-dialog" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-normal" id="modalConfirmaExclusaoLabel">Confirmar exclusão do Atleta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex">
                <img id="imgExclusao" class="img-medium" src="" />
                <span id="modalBodyExclude" class="ms-2 text-normal" style="align-content: center;">

                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn  btn-block btn-confirm-radius" data-bs-dismiss="modal" onclick="onClickConfirmarExclusao()">Confirmar</button>
                <a class=" btn-voltar mx-5" data-bs-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="row g-width-10 table-brown">


    <table class="table mt-5">
        <thead>
            <tr>
                <th></th>
                <th class="t-start">Nome</th>
                <th>Idade</th>
                <th>Posição jogador</th>
                <th>Nº camisa</th>
                @if (Model.CanUpdate)
                {
                    <th>Ação</th>
                }
                else
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (!Model.ObterListaPaginada().Any())
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="t-start">Este club não possui atletas.</td>
                    <td></td>
                </tr>
            }
            else
            {
                @foreach (var obj in Model.ObterListaPaginada())
                {
                    <tr>
                        @if (string.IsNullOrEmpty(obj.FotoAlunoBase64))
                        {
                            <td style="width: 70px;">
                                <img src="~/imgs/sem_imagem.png" style="width: 35px; height: 35px;" />
                            </td>
                        }
                        else
                        {
                            var imagem = String.Format("data:image/png;base64,{0}", obj.FotoAlunoBase64);
                            <td style="width: 70px;">
                                <img src="@imagem" style="width: 35px; height: 35px;box-shadow: 1px 1px 50px 1px #00000066;" alt="imagem aluno" />
                            </td>
                        }

                        <td class="t-start">@obj.Nome.ToUpper()</td>
                        <td>@obj.Idade Anos</td>
                        <td>@obj.PosicaoJogador</td>
                        <td>@obj.CamisetaNumero</td>
                        <td class="d-inline-flex">
                            @if (Model.CanUpdate)
                            {
                                <div class=" tooltip-arrow" data-toggle="tooltip" data-placement="right" title="Alterar Nº da camiseta do Atleta. "
                                     style="height: 40px; width: 40px; margin-right: 10px;">
                                    <a class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px; cursor: pointer;" onclick="onClickAlterarAluno(@obj.Id)"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                                </div>
                                <div class=" tooltip-arrow" data-toggle="tooltip" data-placement="right" title="Remover atleta do Club."
                                     style="height: 40px; width: 40px; margin-right: 10px;">

                                    @*  <a asp-controller="Administrador" asp-action="ExcluirAtleta" asp-route-idAtleta="@obj.Id" id="btnExcluirAtleta" class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px; cursor: pointer;">
                        <img src="~/imgs/excluir.png" style="width: 30px; height: 30px;" /></a> *@

                                    <a data-bs-toggle="modal" data-bs-target="#modalConfirmaExclusao" onclick="onClickExcluirAtleta(@JsonConvert.SerializeObject(obj))"
                                       class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Excluir atleta">
                                        <img src="~/imgs/excluir.png" style="width: 30px; height: 30px;" />
                                    </a>

                                </div>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>