@using Ihc.CrackSports.Core.Authorization.Claims;
@using System.Security.Claims;
@using Ihc.CrackSports.Core.Authorization.Context.Interfaces;
@using Ihc.CrackSports.Core.Commands.Interfaces;
@using Ihc.CrackSports.Core.Requests.Notifications;
@inject IUsuarioContext _usuarioContext
@inject INotificationCommand _notificationCommand
@{

    if (User.IsAuthenticated())
    {
        var request = new NotificationRequest(long.Parse(User.GetIdentificador()), User.GetTipoUsuario());
        _usuarioContext.SetNotificacoes(await _notificationCommand.ObterTodasNotificacoes(request));
    }

    if (!_usuarioContext.HasImage())
    {
       await _usuarioContext.RefreshImage();
    }
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ihc.CrackSports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/validacoes.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />

</head>
<body id="bodyLayout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lightbox-shadow">
            <div class="container-fluid">
                <a class="navbar-brand link-redirect-orange" asp-area="" asp-controller="Home" asp-action="Index">Krak Sports</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between link-redirect-orange">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Club" asp-action="VerClubs">Clubes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Usuario" asp-action="index">Inscrições</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Evento" asp-action="CadastroEvento">Eventos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Sobre">Sobre nós</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">

                        @if (User?.IsAuthenticated() ?? false)
                        {
                            <li class="nav-item">
                                <div class="nav-right tooltip-bottom">
                                    <!--Sino de notificacoes-->
                                    <a class="nav-link notifications p-0" href="#" onclick="openCloseNotificacoes()">
                                        <div id="pnlNotificationsNaoVistas">
                                            @if (_usuarioContext.CountNotificationsNaoVistas() > 0)
                                            {

                                                <div id="pnlNotificacoesNVistas" style="background-color: red;color: ghostwhite; border-radius: 50px; width: 15px; height: 15px; display: initial;
position: absolute; margin-left: 20px;" class="text-center">
                                                    <span id="txtNotificationsNVistas" style="font-size: 10px; display: block;">@_usuarioContext.CountNotificationsNaoVistas()</span>
                                                </div>

                                            }
                                        </div>
                                        <img class="img-icon-nav " src="~/imgs/sino-icon.png" />
                                    </a>
                                    <!--FIM Sino de notificacoes-->
                                    <span class="tooltiptext">Notificações</span>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <div class="nav-right">

                                @if (User?.IsAuthenticated() ?? false)
                                {
                                    <div class="d-inline-flex" style="height: 30px; align-items: center;">

                                        <div class="tooltip-bottom">
                                            <a class="nav-link " href="#" onclick="redirectMinhaConta(@User.GetTipoUsuario())">
                                                @if (!_usuarioContext.HasImage())
                                                {
                                                    <img class="img-icon-nav ms-2" src="~/imgs/login-white.png" />
                                                }
                                                else
                                                {
                                                    var imagem = String.Format("data:image/png;base64,{0}", _usuarioContext.GetImage());
                                                    <img class="img-icon-nav ms-2" src="@imagem" />
                                                }
                                            </a>
                                            <span class="tooltiptext">Conta</span>
                                        </div>

                                        <div class="tooltip-bottom">
                                            <a class="nav-link tooltip-bottom " asp-area="" asp-controller="Home" asp-action="Logout">
                                                <img class="img-icon-nav mx-2" src="~/imgs/Exit_house.png" />
                                            </a>
                                            <span class="tooltiptext" style="width: 100%;margin-left: -30px; ">Sair</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Login">
                                        <img class="img-icon-nav mx-2" src="~/imgs/login-white.png" />
                                        Login
                                    </a>
                                }

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @if (User?.IsAuthenticated() ?? false)
    {
        <div id="pnlNotificacoes" class="bar-notifications mt-5 d-none g-width-5 modal scroll-brown">
            @await Html.PartialAsync("Partial/Notificacoes/_NotificacoesPartial", await _usuarioContext.GetNotificacoes())
        </div>
    }
    <main role="main" class="pb-3">
        @RenderBody()

        <div class="c-loader-overlay">
            <div class="c-loader" id="c-loader">
                <img src="~/img/loader.svg" width="250" alt="" />
                @*<svg x="0px" y="0px" viewBox="0 0 242 234" style="enable-background:new 0 0 242 234;" xml:space="preserve">
                <polygon fill="#fff" points="174,171.3 129.1,63.7 129,63.7 112,63.7 111.9,63.7 67,171.3 84.1,171.3 120.5,84.2 156.9,171.3 ">
                <animate id="animation1"
                attributeName="opacity"
                from="0" to="1" dur="1s"
                begin="0s;animation2.end" />

                </polygon>
                </svg>*@
            </div>
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container mb-5 mt-5">
            &copy; 2023 &nbsp; Krak Sports - Associação de clubs de futebol - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="link-redirect-orange" style="color: #FA8C05 ;">Políticas de privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/UtilAjax.js" asp-append-version="true"></script>
    <script src="~/js/Usuario/Usuario.js" asp-append-version="true"></script>
    <script src="~/lib/jquery.mask/jquery.mask.min.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script>
        let _userLogado = +@User?.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value;
    </script>

    <!--Scripts Notifications-->
    <script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/notifications/notification.js" asp-append-version="true"></script>

    <!--Agenda Evento-->
    <script src="~/js/Evento/agendaEvento.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
